<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 portlet light">
      <div class="portlet-body">

        <table class="col-md-6 table table-hover">
          <tr ><td width="25%">height</td><td>{{block.number}}</td></tr>
          <tr ><td width="25%">Time</td>
                <td>{{block.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }} ({{block.timestamp | timeDuration}} ago)</td>
          </tr>
          <tr ><td width="25%">Hash</td><td>{{block.hash}}</td></tr>
          <tr ><td width="25%">parentHash</td><td><a href="/block/{{block.number - 1}}">{{block.parentHash}}</td></tr>
          <tr ><td width="25%">sha3 Uncles</td><td>{{block.sha3Uncles}}</td></tr>
          <tr ><td width="25%">Mined By</td><td><a href="/addr/{{block.miner}}">{{block.miner}}</td></tr>
          <tr ><td width="25%">Difficulty</td><td>{{block.difficulty | totalDifficulty}}</td></tr>
          <tr ><td width="25%">Total Difficulty</td><td>{{block.totalDifficulty | teraHashes | number}} TH</td></tr>
          <tr ><td width="25%">Gas Limit</td><td>{{block.gasLimit | number}}</td></tr>
          <tr ><td width="25%">Gas Used</td><td>{{block.gasUsed | number}}</td></tr>
          <tr ><td width="25%">nonce</td><td>{{block.nonce}}</td></tr>
          <tr ><td width="25%">Extra Data</td><td>{{block.extraData}}</td></tr>
          <tr ng-show="block.ntransactions"><td width="25%">Transactions</td><td></td></tr>
          <tr ng-show="block.ntransactions">
		  <td colspan=2>

      <div class="tab-content">
        <div class="tab-pane table-container" ng-class="{active: activeTab == 'tab_addr_1' || !activeTab}" id="tab_addr_1"><!-- Datatable tab -->
          <table class="table table-striped table-hover" id="table_txs" style="table-layout:fixed;width: 98% !important;">
            <thead>
              <tr role="row" class="heading">
                  <th width="25%"> TxHash </th>
                  <th width="25%"> From </th>
                  <th width="25%"> To </th>
                  <th width="10%"> SBTC </th>
                  <th width="10%"> gas </th>
                </tr>
              </thead>
              <tbody>
			  <tr ng-repeat="tx in block.transactions">
			  <td><a href="/tx/{{tx.hash}}">{{tx.hash}}</a></td>
			  <td><a href="/addr/{{tx.from}}">{{tx.from}}</a></td>
			  <td><a href="/addr/{{tx.to}}">{{tx.to}}</a></td>
			  <td>{{tx.value}}</td>
			  <td>{{tx.gas}}</td>
			  </tr>
			  </tbody>
            </table>
		  
		  </td>
		  </tr>
        </table>
    </div>
    <!--TODO: calculate block reward -->

  </div>
</div>
